.logInContainer {
  width: 100vw;
  height: 100vh;
  background: #f4f4f4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logInContainer > img {
  width: 50%;
  margin-bottom: 5rem;
}

.logInContainer button {
  border: none;
  border-radius: 0.5rem;
  background: var(--gradient-blue);
  color: #f4f4f4;

  font-size: 1.25rem;

  padding: 2rem 2.5rem;
  transition: opacity 0.5s linear;
}

.logInContainer button:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .logInContainer > img {
    width: 70%;
    margin-bottom: 5rem;
  }

  .logInContainer button {
    padding: 1.5rem 2rem;
  }
}
