.createButton {
  color: var(--white);
  background: var(--gradient-blue);
  border: none;
  border-radius: 50%;
  width: 3.625rem;
  height: 3.625rem;
  font-size: 1.35rem;
}

.createButton:focus {
  outline: none;
}
