.decksContainer {
  width: 100%;
  height: 100%;

  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.message {
  color: var(--text-light);
  text-align: center;
  margin-top: 5rem;
}

.message > h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
}

.message button {
  background: var(--text-light);
  width: 3.25rem;
  height: 3.25rem;
}
