.homeContainer {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  background: #f4f4f4;

  overflow-y: auto;
}

.asideContainer {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  padding: 1rem;

  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
      180deg,
      #00409f -3.72%,
      rgba(255, 255, 255, 0) 118%
    ),
    #1e78ff;
}

.asideContainer > img {
  width: 1.5rem;
}

.logo {
  margin-top: 2rem;
}

.signOut {
  margin-bottom: 2rem;
  cursor: pointer;
}

.mainContent {
  margin: 2rem 4rem;
  width: 100%;
}

.mainContent > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin-bottom: 3.5rem;
}

/* @media screen and (min-width: 321px) and (max-width: 539px) {
  .mainContent {
  }
}

@media (max-width: 460px) {
  .mainContent {
    margin: 2rem;
  }
}
 */
