.userInfo {
  display: flex;
  align-items: center;
}

.userTextInfo > strong {
  font-weight: 600;
}

.userInfo img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 0.95rem;
}

@media screen and (min-width: 321px) and (max-width: 539px) {
  .userTextInfo > strong {
    font-size: 0.95rem;
    font-weight: 600;
  }

  .userTextInfo > p {
    font-size: 0.85rem;
  }

  .userInfo img {
    width: 3.5rem;
    height: 3.5rem;
  }
}
