.createDeckContainer {
  background: #f4f4f4;

  width: 30rem;
  height: 35rem;

  padding: 1.5rem 2.5rem;
}

.form > input {
  width: 100%;
}

.form > textarea {
  width: 100%;
  resize: none;
}

.colorsContainer > input {
  appearance: none;
  -webkit-appearance: none;

  background: red;
  border: 1px solid red;
  padding: 1rem;
  margin-left: 1rem;
}

.colorsContainer > input:checked {
  background: blue;
}
