.createCardModalContainer {
  background: #f4f4f4;
  height: 35rem;
  width: 28rem;
  padding: 1.5rem 2.5rem;
  border-radius: 1.5rem;
}

.createCardModalContainer textarea {
  display: block;
  border: none;
  width: 100%;
  height: 8rem;

  border-radius: 0.5rem;
  padding: 0.5rem;
  resize: none;
}

.button {
  border: none;
  background: var(--green);

  color: #f4f4f4;
  width: 100%;
  border-radius: 0.5rem;
  height: 3rem;
  font-size: 1rem;
}
