.deckModalContainer {
  width: 50rem;
  height: 35rem;
  background: #f4f4f4;
  border-radius: 1.5rem;

  padding: 1.5rem 2.5rem;
}

.deckInfoContainer {
  display: flex;
  max-width: 93.5%;
}

.deckImage {
  background: #fff;
  height: 14.5rem;
  width: 11rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.deckImage img {
  max-width: 8.5rem;
  max-height: 8.5rem;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.deckImage strong {
  margin-top: 1.7rem;
  font-weight: 500;

  position: absolute;
  top: 75%;
  left: 50%;

  width: 100%;

  transform: translate(-50%, -50%);
}

.deckInfo {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.deckInfo div:first-child {
  margin-bottom: 1.3rem;
}

.deckStudyInfo > ul {
  font-size: 1.15rem;
}

.deckStudyInfo > ul {
  list-style: none;
  margin-top: 2rem;
  line-height: 2.25rem;
}

.deckStudyInfo > p {
  font-size: 1.15rem;
}

.deckStudyInfo strong {
  font-weight: 600;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}

.Button {
  height: 2.2rem;
  margin-bottom: 0.5rem;

  font-size: 1rem;
  border: none;
  border-radius: 0.35rem;
}

.allowed {
  cursor: pointer;
}

.notAllowed {
  cursor: not-allowed;
  opacity: 0.5;
}

.notAllowed:focus {
  outline: none;
}

@media screen and (min-width: 270px) and (max-width: 662px) {
  .deckModalContainer {
    width: 26rem;
    max-height: 40rem;

    padding: 1.5rem;
  }

  .deckInfo {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
  }

  .deckInfo div:first-child {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .deckInfoContainer {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .deckStudyInfo {
    margin-top: 1rem;
    align-self: flex-start;
  }

  .deckStudyInfo > p {
    font-size: 1.1rem;
  }

  .deckStudyInfo > ul {
    margin-top: 1rem;
  }

  .Button {
    height: 4.45rem;
    width: 11.2rem;
  }
}

@media screen and (max-width: 364px) {
  .deckModalContainer {
    width: 25rem;
    max-height: 40rem;

    padding: 1rem;
  }

  .deckInfo div:first-child {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .deckStudyInfo {
    margin-top: 0.5rem;
    align-self: flex-start;
  }
}
